* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    padding: 10px;
    font-size: 2rem;
    background-color: black;
    color: white;
}

main {
    position: absolute;
    padding-top: 20px;
    width: 100vw;
    height: 100vh;
    background-color: green;
    font-size: 3rem;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
}

#next {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 2rem;

}